/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #707E80;
	color: #8FBDC4;
}

header {
	padding: 3em;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: .5em, auto;
}

h2 {
    font-size: 2em;
    color: #83618a;
    padding-bottom: .5em;
}

.content {
    margin: auto;
    background-color: #C4C4C4;
    padding: 1em;
    margin-bottom: 3em;
    width: 50%;
}

.caption {
    color: #797470;
}

#intro {
	text-align: center;
    margin: auto;
    padding: 2.5em;
    width: 50%;
    font-size: 1.25em;
    margin-bottom: 3em;
}

img {
    margin: auto;
    width: 100%;
    height: auto;
}

p {
   font-size: 1em;
   padding-top: .5em;
}

em {
    font-style: italic;
}

#instagram {
    margin: auto;
}

footer {
	margin: auto;
    padding-bottom: 2em;
    padding-left: 24%;
    text-align: start;
}

a {
    color: #8FBDC4;
}

a:hover {
    color: #C4C4C4;
}
